# Node.js dependencies
node_modules/

# dotenv environment files
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build artifacts
dist/
build/
